---
import '../styles/global.css'
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre Mi";

const identity = {
    firstName: "Saúl",
    country: "México 🇲🇽",
    occupation: "Estudiante de Desarrollo de Software",
    hobbies: ["Videojuegos", "Splatoon", "música clásica", "programación recreativa", "japonés"]
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Japonés N4"]
---
<BaseLayout pageTitle="Sobre Mi">

    <h2>y mi intento por huir del internet del consumismo</h2>

    <p>abra cadabra siete machete</p>

    <p>Datos no interesantes sobre mi:</p>
    <ul>
        <li>Me llamo {identity.firstName}</li>
        <li>Vivo en {identity.country} y soy {identity.occupation}</li>
        {identity.hobbies.length >= 2 &&
                <li>Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
        }
    </ul>

    <p>Algunas de mis habilidades son:</p>
    <ul>
        {skills.map((skill) =>
                <li>{skill}</li>)}
    </ul>
</BaseLayout>
